[submodule "mruby-ffi"]
	path = mruby-ffi
	url = git://github.com/ppibburr/mruby-ffi.git
[submodule "tools/mruby-ffi"]
	path = tools/mruby-ffi
	url = git://github.com/ppibburr/mruby-ffi.git
[submodule "tools/mruby-webkitgtk"]
	path = tools/mruby-webkitgtk
	url = git://github.com/ppibburr/mruby-webkitgtk.git
[submodule "tools/mruby-rake"]
	path = tools/mruby-rake
	url = git://github.com/ppibburr/mruby-rake.git
